<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<title>GPIO with Flask!</title>	
</head>
<body style="background-color:aliceBlue;">
<h1 style="color:grey; font-family:Verdana, sans-serif; text-align:center;">GPIO Web Control</h1>
<h2 style="color:grey; font-family:Verdana, sans-serif; text-align:center;">{{msg}}</h2>
<form method="POST">
	<center>
	<button style="background-color:royalBlue; font-size:40px; font-family:Verdana, sans-serif; border:none; padding:30px 40px;" type="submit" name="submitBtn1" value="on">Blue LED</button>
	<button style="background-color:forestGreen; font-size:40px; font-family:Verdana, sans-serif; border:none; padding:30px 40px;" type="submit" name="submitBtn2" value="on">Green LED</button>
	</center>
</form>
</body>
</html>
